---
title: Create or deploy a register
source_url: https://raw.githubusercontent.com/openregister/deployment/master/README.md
---

<h1 id="create-a-register">Create or deploy a register</h1>

<p>
This guide is imported from the readme of the <a href="https://github.com/openregister/deployment">openregister/deployment</a> repository.
</p>

<%= ExternalDoc.fetch(repository: 'openregister/deployment', path: 'README.md') %>