---
title: Create a register
source_url: https://raw.githubusercontent.com/openregister/deployment/master/README.md
---

<h1 id="create-a-register">Create a register</h1>

<%= ExternalDoc.fetch(repository: 'openregister/deployment', path: 'README.md') %>