---
title: Generate RSF updates for a register
---

<h1 id="generate-rsf">Generate RSF updates for a register</h1>

<h2>Scripts</h2>
<p>
See <a href="https://github.com/openregister/deployment/tree/master/scripts">openregister/deployment/scripts</a>.
</p>
